.title{
    text-align: left;
    color:blueviolet;
    background-color: black;
    font-size: 350%;
    margin: 0;
}

nav, nav a{
    text-decoration: none;
    color: blueviolet;
    text-align: right;
    background-color: black;
    font-size: 140%;
}

.header{
    background-color: black;
    padding: 1.7%;
}