.body-box {
    margin-top: 2%;
    padding: 0 3% 2%;
    border: 2px solid #333;
}

.search-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 20px auto;
}

.search-section h1 {
    font-size: 250%;
}

.search-box {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 60%;
}

.search-input {
    position: relative;
    width: 80%;
}

.search-input img {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
}

.search-input input {
    width: 100%;
    padding: 10px 15px 10px 40px;
    border: 1px solid #191102;
    border-radius: 20px;
    font-size: 14px;
    box-sizing: border-box;
}

.search-box button {
    padding: 10px 15px;
    border: 1px solid #191102;
    border-radius: 20px;
    background-color: white;
    font-size: 14px;
}

.filter-section {
    flex: none;
}

.filter {
    position: relative;
    width: fit-content;
}

#filter-options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 250px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    z-index: 100;
}

table {
    width: 95%;
    border-collapse: collapse;
    margin: 0 auto;
}

th,td {
    border: 1px solid #191102;
    padding: 15px;
    text-align: center;
}

th {
    text-align: center;
    font-weight: bold;
}