.body-box {
    display: flex;
    gap: 3%;
    margin-top: 2%;
    padding: 3% 2%;
    justify-content: center;
}

.preview-box {
    font-size: 280%;
    color:#725420;
    width: 600px;
    height: 300px;
    padding: 0 2%;
    box-sizing: border-box;
    background-color: #fdd6d6;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    transition: ease all 0.3s;
}

.preview-box:hover {
    scale: 101%;
}

.count {
    color: #ce8139;
}

.redirect {
    margin-top: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.redirect a {
    display: inline-block;
    text-decoration: none;
}

.redirect img {
    width: 60px;
    padding-bottom: 20%;
    cursor: pointer;
    transition: ease all 0.3s;
}

img:hover {
    scale: 120%;
}

.preview-box p {
    margin: 3%;
}