.body-box {
    padding: 20px;
}

.cafe-name {
    margin-top: 1%;
    margin-bottom: 0%;
    font-size: 350%;
    color:black;
    padding: 0% 0% 0% 2%;
}

.update-btn {
    color: white;
    background-color: black;
    padding: 12px 24px;
    border-radius: 30px;
    font-size: 200%;
    cursor: pointer;
    text-decoration: none;

    display: block; 
    width: fit-content;
    margin-left: auto; 
    margin-right: 3%;
}

.info-box {
    outline: 2px solid black;
    padding: 30px;
    margin-top: 1%;
    display: flex;
}

.pic-column {
    max-width: 30%;
}

.cafe-pic img {
    width: 80%;
    height: auto;
    border: 1px solid black;
    margin-right: 0%;
}

.info-column {
    flex: 4;
    display: flex;
    flex-direction: column;
}

.grid-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
}

.grid-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.header-text {
    font-weight: bold;
    font-size: 200%;
}

.desc-text {
    font-size: 150%;
}

.thumbnails-row {
    display: flex;
    gap: 10px;
    margin-top: 40px;
}

.thumb {
    width: calc(33.33% - 14px);
    height: auto;
    border: 1px solid black;
    aspect-ratio: 4 / 3;
    object-fit: cover;
}