.body-box {
    padding: 20px;
    font-family: 'Montagu Slab';
}

.cafe-name{
    margin-top: 1%;
    margin-bottom: 0%;
    font-size: 350%;
    color:#725420;
    padding: 0% 0% 0% 2%;
}

.update-btn{
    color:white;
    background-color: #ce8139;
    padding: 12px 24px;
    border-radius: 30px;
    font-size: 120%;
    cursor: pointer;
    border: none;
    
    display: block;
    margin-left: auto;
    margin-right: 3%;
}

.info-box {
    padding: 2%;
    margin-top: 1%;
    display: flex;
    gap: 30px;
    flex-wrap: wrap; 
    align-items: flex-start; 
    background-color: #fdd6d6;
    border-radius: 15px;
    width: 70%;
    box-shadow: 0 8px 10px -3px rgba(99, 15, 15, 0.3);
    margin: 0 auto;
}

.pic-column {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.pic-column img {
    width: 400px;
    max-width: 100%; 
    height: auto;
    border: 5px solid white;
}

.info-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1; 
    min-width: 280px; 
}


.inline-buttons {
    display: flex;
    gap: 15px;
    flex-wrap: wrap; 
}


.form-btn {
    color: gray;
    background-color: white;
    padding: 12px 18px;
    border-radius: 30px;
    font-size: 120%;
    text-align: left; 
    width: 100%;
    cursor: pointer;
    box-sizing: border-box;
    border: none;
    font-family: Verdana;
}


.cover-btn {
    width: auto; 
    color: #fffabc;
    text-align: center;
    background-color:#725420;
}

.edit-btn{
    color: #fffabc;
    background-color:#725420;
}

.info-column > .form-btn:first-child {
    width: max-content;
    text-align: center;
}

.info-text {
    display: flex;
    gap: 15px;
    width: 100%;
}


.info-text.form-btn {
    flex: 1;
    width: 100%; 
}

img{
    width:200px;
    margin-left: 3%;
}

@media (max-width: 768px) {
    *, *:before, *:after {
        box-sizing: border-box;
    }

    .cafe-name {
        grid-column: 1;
        font-size: 300%;
        padding: 0;
        margin: 0;
    }

    .update-btn {
        font-size: 150%;
        padding: 8px 16px;
        border-radius: 20px;
    }

    .info-box {
        grid-column: 1 / span 2;
        display: flex;
        flex-direction: column;
        padding: 15px;
        margin-top: 10px;
        gap: 20px;
        width: 90%;
    }

    .cafe-pic img {
        width: 100%;
        height: 220px;
        object-fit: cover;
        margin: 0 auto;
    }

    .edit-btn{
        margin: 0 auto;
    }

    .cover-btn{
        margin: 0 auto;
        display: flex;
    }

}