.body-box {
    padding: 20px;
}

.cafe-name {
    margin-top: 1%;
    margin-bottom: 0%;
    font-size: 350%;
    color: #725420;
    padding: 0% 0% 0% 2%;
}

.update-btn {
    color: white;
    background-color: #ce8139;
    padding: 12px 24px;
    border-radius: 30px;
    font-size: 200%;
    cursor: pointer;
    text-decoration: none;
    outline: none;

    display: block; 
    width: fit-content;
    margin-left: auto; 
    margin-right: 3%;
}

.info-box {
    padding: 30px;
    margin-top: 1%;
    display: flex;
    background-color: #fdd6d6;
    border-radius: 15px;
}

.pic-column {
    max-width: 30%;
}

.cafe-pic img {
    width: 80%;
    height: auto;
    border: 5px solid white;
    margin-right: 0%;
}

.info-column {
    flex: 4;
    display: flex;
    flex-direction: column;
}

.grid-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
}

.grid-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.header-text {
    font-weight: bold;
    font-size: 200%;
    color: #725420;
}

.desc-text {
    font-size: 150%;
    color: #ce8139;
}

.thumbnails-row {
    display: flex;
    gap: 10px;
    margin-top: 40px;
}

.thumb {
    width: calc(33.33% - 14px);
    height: auto;
    border: 5px solid white;
    aspect-ratio: 4 / 3;
    object-fit: cover;
}

.form-btn{
    outline: none;
}

@media (max-width: 768px) {
    *, *:before, *:after {
        box-sizing: border-box;
    }

    .body-box {
        padding: 15px;
        width: 100%;
        max-width: 100vw;
        overflow-x: hidden;
        
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
        gap: 15px;
    }

    .cafe-name {
        grid-column: 1;
        font-size: 300%;
        padding: 0;
        margin: 0;
    }

    .update-btn {
        grid-column: 2;
        font-size: 200%;
        padding: 8px 16px;
        margin: 0;
        border-radius: 20px;
    }

    .info-box {
        grid-column: 1 / span 2;
        display: flex;
        flex-direction: column;
        padding: 15px;
        margin-top: 10px;
        gap: 20px;
    }

    .pic-column {
        max-width: 100%;
        width: 100%;
    }

    .cafe-pic img {
        width: 100%;
        height: 220px;
        object-fit: cover;
    }

    .info-column {
        flex: unset;
        width: 100%;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        width: 100%;
        text-align: center;
    }

    .grid-item {
        gap: 4px;
    }

    .thumbnails-row {
        margin-top: 25px;
        justify-content: center;
        gap: 10px;
    }

    .thumb {
        width: calc(33.33% - 7px);
        aspect-ratio: 1 / 1;
    }
    
    .header-text {
        font-size: 200%;
    }

    .desc-text {
        font-size: 170%;
    }
}