@font-face {
    font-family: 'Montagu Slab';
    src: url(../font/MontaguSlab-VariableFont_opsz\,wght.ttf);
}

.title{
    text-align: left;
    color: #fffabc;
    font-size: 350%;
    font-weight: normal;
}

nav a{
    text-decoration: none;
    font-size: 160%;
    color: #fffabc;
    margin-top: 15px;
}

nav a:hover {
    color: #fea959;
}

.header{
    background-color: #725420;
    padding: 1%;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Montagu Slab';
    text-align: center;

    position: sticky;
    top: 0;
    z-index: 1000;

    display: block;
    width: 100%;
}

.name{
    color: #fea959 !important;
    font-size: 350%;
}

h1{
    display: inline;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}