@font-face {
    font-family: 'Montagu Slab';
    src: url(../font/MontaguSlab-VariableFont_opsz\,wght.ttf);
}

.title{
    text-align: left;
    margin: 0;
    color: #fffabc;
    font-size: 350%;
    font-weight: normal;
}

nav, nav a{
    text-decoration: none;
    text-align: right;
    font-size: 140%;
    color: #fffabc;
}

.nav-admin a {
    font-size: 90%;
    color: #fffabc;
}

nav a:hover {
    color: #fea959;
}

.header{
    background-color: #725420;
    padding: 2%;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Montagu Slab';
}

.name{
    color: #fea959 !important;
    font-size: 350%;
}

h1{
    display: inline;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}