.title{
    text-align: left;
    color:black;
    background-color: white;
    font-size: 350%;
    margin: 0;
}

nav, nav a{
    text-decoration: none;
    color: black;
    text-align: right;
    background-color: white;
    font-size: 140%;
}

.nav-admin a {
    font-size: 120%;
}

.header{
    background-color: white;
    padding: 1.7%;
    outline: 2px solid black;
}
