body {
    background: #fdfdfd;
    flex-direction: column; 
    align-items: center;
    font-family: 'Montagu Slab';
}

.body-box {
    display: grid;
    grid-template-columns: 1.4fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 25px;
    width: 60%;
    padding: 2%;
    background-color: #fdd6d6;
    margin: 0 auto;
    margin-top: 2%;
    border-radius: 15px;
    box-shadow: 0 8px 10px -3px rgba(99, 15, 15, 0.3);
}

.box {
    background: #fff;
    overflow: hidden; 
}

.pad {
    padding: 20px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 8px 10px -3px rgba(99, 15, 15, 0.3);
}

.col {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.info-column, .img-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cafe-name{
    font-size: 350%;
    color:#725420;
    margin-bottom: 0%;
}

.header-text{
    font-size: 150%;
    color:#725420;
    margin: 0%;
}

.desc-text{
    font-size: 110%;
    color:#ce8139;
    margin-top: 0%;
    margin-bottom: 0%;
    font-family: Verdana;
}

.info-box {
    grid-column: 1;
    grid-row: 1 / span 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.rating {
    font-size: 200%;
    margin-top: 10px;
    color: #ce8139;
}

.star {
    color: #f39c12;
}

.count {
    font-size: 250%;
    color:#ce8139;
}

.review-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    box-shadow: 0 8px 10px -3px rgba(99, 15, 15, 0.3);
    grid-column: 3;
    grid-row: 2;
    width: 75%;
    max-width: 240px; 
    width: 100%;
}

.rating-box {
    grid-column: 2;
    grid-row: 2;
    max-width: 240px; 
    width: 100%;
}

.review-redirect {
    display: flex;
}

.arrow-btn {
    width: 45px;
    display: inline-table;
    transition: ease all 0.3s;
}

.arrow-btn:hover{
    scale: 102%;
}

.home{
    color: #FEA959;
}

/* CAROUSEL CSS */

.carousel-container {
    grid-column: 2 / span 2; /* Span across right 2 columns */
    grid-row: 1;
    width: 520px;
    height: 270px;
    border-radius: 5px;
    overflow: hidden;
    background: #fff;
    margin: auto 0;
    justify-self: center;
}

.carousel-wrapper {
    display: flex;
    height: 100%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none; 
}

.carousel-wrapper::-webkit-scrollbar {
    display: none; 
}

.carousel-slide {
    flex: 0 0 100%;
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
}

.carousel-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border: 5px solid white;
    outline: 5px solid white;
}

@media (max-width: 768px) {
    .body-box {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 15px;
        width: 95%;
    }

    .carousel-container {
        height: 280px;
        width: 455px;
        order: 1;
    }

    .info-box {
        order: 2;
    }

    .rating-box {
        order: 3;
        justify-self: center;
    }

    .review-box {
        order: 4;
    }

    .cafe-name {
        font-size: 250%;
    }
}