.body-box {
    padding: 20px;
}

.cafe-name{
    margin-top: 1%;
    margin-bottom: 0%;
    font-size: 350%;
    color:#725420;
    padding: 0% 0% 0% 2%;
}

.filter-btn, .sort-btn{
    color:white;
    background-color: #ce8139;
    padding: 12px 24px;
    border-radius: 30px;
    font-size: 150%;
    cursor: pointer;
    border: none;
}

.grid-btn{
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-right: 2%;
    margin-bottom: 3%;
    border: none;
}

.rating-box{
    border-radius: 15px;
    background-color: #fdd6d6;
    padding: 2%;
    margin-top: 10%;
    width: 70%;
    margin: 0 auto;
}

.review-card {
    display: flex;
    gap: 25px; 
    align-items: flex-start; 
}

.review-img img {
    width: 300px; 
    height: auto;
    display: block;
    border: 5px solid white;
}

.review-text {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    color: #ce8139;
}

.review-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 8px;
}

.review-title {
    font-size: 270%;
    margin: 0;
    color:#725420;
}

#report-btn {
    color: white;
    border: 1px solid black; 
    padding: 10px 24px;
    border-radius: 25px;
    cursor: pointer;
    white-space: nowrap;
    font-size: 120%;
    background-color: #ce8139;
    border: none;
}

.rating, .review-body {
    margin: 0 0 8px 0;
}

.rating{
    font-size: 200%;
}

.review-body{
    font-size: 170%;
}

.review-reply {
    display: flex;
    gap: 10px;
    margin-top: 15px; 
    align-items: center;
    width: 100%;
    max-width: 800px; 
}

#reply-text {
    flex-grow: 1;
    height: 36px;
    padding: 8px 15px;
    border-radius: 20px;
    resize: none; 
    font-size: 150%;
    border: none;
}

#submit-btn {
    color: white;
    background-color: #ce8139;
    padding: 10px 24px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 120%;
    border: none;
}

.dropdown {
    position: relative;
    width: fit-content;
}

#dropdown-filter-options, #dropdown-sort-options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 250px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    z-index: 100;
}

#filter-button {
    padding: 7px;
    border-radius: 15px;
}

.fa-solid fa-sliders, .fa-solid fa-sort{
    max-width: 20px;
}

@media (max-width: 768px) {
    .review-card {
        flex-direction: column;
        gap: 15px;
    }

    .review-img img {
        width: 90%;
        max-width: 100%;
        margin: 0 auto;
    }

    .review-text {
        width: 100%;
    }

    .review-reply {
        max-width: 100%;
    }

    #report-btn, .submit-btn{
        font-size: 130%;
    }

    .rating-box{
        width: 100%;
    }
}