.body-box {
    padding: 20px;
    font-family: 'Montagu Slab';
}

.cafe-name{
    margin-top: 1%;
    margin-bottom: 0%;
    font-size: 350%;
    color:#725420;
    padding: 0% 0% 0% 2%;
}

.filter-btn, .sort-btn{
    color:white;
    background-color: #ce8139;
    padding: 12px 24px;
    border-radius: 30px;
    font-size: 150%;
    cursor: pointer;
    border: none;
    font-weight: none;
}

.grid-btn{
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-right: 2%;
    margin-bottom: 3%;
    border: none;
}

.rating-box{
    border-radius: 15px;
    background-color: #fdd6d6;
    padding: 2%;
    width: 70%;
    margin: 0 auto;
    box-shadow: 0 8px 10px -3px rgba(99, 15, 15, 0.3);
    font-family: Verdana;
}

.review-card {
    display: flex;
    gap: 25px; 
    align-items: flex-start; 
}

.review-img img {
    width: 250px; 
    max-height: 320px;
    display: block;
    border: 5px solid white;
}

.review-text {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    color: #ce8139;
}

.review-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 8px;
}

.review-title {
    font-size: 200%;
    margin: 0;
    color:#725420;
}

#report-btn {
    color: white;
    border: 1px solid black; 
    padding: 10px 24px;
    border-radius: 25px;
    cursor: pointer;
    white-space: nowrap;
    font-size: 120%;
    background-color: #ce8139;
    border: none;
    font-family: Verdana;
}

.rating, .review-body {
    margin: 0 0 8px 0;
    font-family: Verdana;
}

.rating{
    font-size: 150%;
}

.star {
    color: #f39c12;
    font-size: 130%;
}

.review-body{
    font-size: 100%;
}

.review-reply {
    display: flex;
    gap: 10px;
    margin-top: 15px; 
    align-items: center;
    width: 100%;
    max-width: 800px;
    font-family: Verdana;
}

#reply-text {
    flex-grow: 1;
    height: 36px;
    padding: 8px 15px;
    border-radius: 20px;
    resize: none; 
    font-size: 150%;
    border: none;
}

#submit-btn {
    color: white;
    background-color: #ce8139;
    padding: 10px 24px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 120%;
    border: none;
    font-family: Verdana;
}

.dropdown {
    position: relative;
    width: fit-content;
}

#dropdown-filter-options, #dropdown-sort-options {
    display: none;
    position: absolute;
    width: 200px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    font-family: Verdana;
    font-size: 120%;
    right: 0;
    left: auto;
}

.filter-buttons button{
    font-family: Verdana;
    font-size: 100%;
}

.filter-buttons {
    padding: 7px;
    border-radius: 15px;
}

.fa-solid fa-sliders, .fa-solid fa-sort{
    max-width: 20px;
}

.sort-img, .filter-img{
    width: 25px;
    height: auto;
}

@media (max-width: 768px) {
    .review-card {
        flex-direction: column;
        gap: 15px;
    }

    .review-img img {
        width: 80%;
        margin: 0 auto;
    }

    .review-text {
        width: 100%;
    }

    .review-reply {
        max-width: 100%;
    }

    #report-btn, .submit-btn{
        font-size: 130%;
    }

    .rating-box{
        width: 100%;
    }
}