.reviews-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
}

.buttons {
    display: flex;
    
}

#filter-icon {
    width: 15px;
    height: 20px;
}

#sort-icon {
    width: 15px;
    height: 20px;
}

.filter {
    position: relative;
    width: fit-content;
}

.filter-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#filter-options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 250px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    z-index: 100;
}

#filter-button {
    padding: 7px;
    border-radius: 15px;
    background-color: white;
}

.sort-section {
    flex: none;
}

#sort-button {
    padding: 7px;
    border-radius: 15px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.posted-reviews {
    width: 95%;
    height: 500px;
    margin: auto;
    overflow: auto;
    border: 1.2px solid black;
    box-sizing: border-box;
    padding: 20px;
}

.review-box{
    display: flex;
    border: 1.2px solid black;
    box-sizing: border-box;
    padding: 10px;
    gap: 15px;
    margin-bottom: 10px;
}

.review-image {
    flex: 0 0 20%;
    overflow: hidden;
}

.review-image img {
    border: 1.2px solid black;
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    display: block;
}

.review-text {
    flex: 0 0 70%;
}

#cafe-name {
    font-size: 24px;
}

.review-icon {
    flex: 0 0 10%;
}

.fa-star {
    font-size: 20px;
}

.fa-ellipsis-vertical {
    font-size: 25px;
}