@font-face {
    font-family: 'Montagu Slab';
    src: url(../font/MontaguSlab-VariableFont_opsz\,wght.ttf);
}

.bookmark-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
}

.bookmark-header h1 {
    font-size: 250%;
    color:#725420;
    font-family: "Montagu Slab", serif;
    font-weight: 500;
}

.buttons {
    display: flex;
    
}

#filter-icon {
    width: 15px;
    height: 20px;
}

#sort-icon {
    width: 15px;
    height: 20px;
}

.filter {
    position: relative;
    width: fit-content;
}

.filter-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#filter-options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 250px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    z-index: 100;
}

#filter-button {
    padding: 7px;
    border-radius: 15px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sort-section {
    flex: none;
}

#sort-button {
    padding: 7px;
    border-radius: 15px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bookmarked-cafes {
    width: 95%;
    height: 500px;
    margin: auto;
    overflow: auto;
    border: 1.2px solid black;
    box-sizing: border-box;

    background-color: #fdd6d6;
    border-radius: 15px;
}

.bookmark-card {
    display: flex;
    padding: 10px;
    margin: auto;
    gap: 20px;
    align-items: center;
    border-radius: 15px;;
}

.cafe-details {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1.2px solid black;
    box-sizing: border-box;
    width: 95%;
    border-radius: 15px;

    background-color: #fff;
    box-shadow: 0 8px 10px -3px rgba(99, 15, 15, 0.3);
}

.cafe-details:hover {
    scale: 102%;
    transition: ease all 0.3s;
}

.cafe-text {
     font-size: 12px;
    font-family:Verdana;
}

#cafe-name {
    font-size: 24px;
}

.circle {
    width: 100px;
    height: 100px;
    border: 1.2px solid black;
    border-radius: 50%;
    vertical-align: middle;
    
}

#bookmark {
    width: 50px;
    height: 60px;
}

#stars {
    width: 150px;
    height: 60px;
    vertical-align: middle;
    margin-left: 5px;
}