.reviews {
    color: #FEA959;
}

.reviews-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
}

.reviews-header h1 {
    font-size: 250%;
    color:#725420;
    font-family: "Montagu Slab", serif;
    font-weight: 500;
}

.buttons {
    display: flex;
    
}

#filter-icon {
    width: 15px;
    height: 20px;
}

#sort-icon {
    width: 15px;
    height: 20px;
}

.filter {
    position: relative;
    width: fit-content;
}

.filter-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#filter-options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 250px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    z-index: 100;
}

#filter-button {
    padding: 7px;
    border-radius: 15px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sort-section {
    flex: none;
}

#sort-button {
    padding: 7px;
    border-radius: 15px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}


.posted-reviews {
    width: 95%;
    height: 500px;
    margin: auto;
    overflow: auto;
    box-sizing: border-box;
    padding: 20px;

    background-color: #fdd6d6;
    border-radius: 15px;
    
    flex-wrap: wrap;
    border: 1px solid #191102;
}

#no-reviews {
    font-size: 20px;
    color: black;
    font-family: "Montagu Slab", serif;
    font-weight: 500;
}

.review-box{
    display: flex;
    border: 1.2px solid black;
    box-sizing: border-box;
    padding: 15px;
    gap: 15px;
    margin-bottom: 15px;

    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 8px 10px -3px rgba(99, 15, 15, 0.3);
}

.review-box:hover {
    scale: 102%;
    transition: ease all 0.3s;
}

.review-image {
    flex: 0 0 20%;
    overflow: hidden;
}

.review-image img {
    border: 1.2px solid black;
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    display: block;
}

.review-text {
    flex: 0 0 70%;
}

.review-text p {
     font-size: 14px;
    font-family:Verdana;
}

#cafe-name {
    font-size: 24px;
}

.review-icon {
    flex: 0 0 10%;
}

#stars {
    width: 150px;
    height: 60px;
}

#ellipsis {
    width: 30px;
    height: 40px;
}

.dropdown .btn{
    border: none;
    background: transparent;
    padding: 0;
}

.dropdown .btn:focus{
    box-shadow: none;
}

.dropdown-item{
    cursor: pointer;
}
