.body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: auto;
}

.firstPart {
    display: flex;
    gap: 20px;
}

.cafe {
    flex: 0 0 60%;
    border: 1.2px solid black;
    box-sizing: border-box;
    padding: 20px;
    
}

.review {
    flex: 0 0 25%;
    border: 1.2px solid black;
    box-sizing: border-box;
    padding: 20px;
    
}

.name-bookmark {
    display: flex;
    justify-content: space-between;
}

#bookmark-button {
    font-size: 18px;
    width: 35px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.cafe-details {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    gap: 20px;
}

.cafe-mainImg {
    flex: 1;
}

.cafe-mainImg img{
    border: 1.2px solid black;
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    display: block;
}

.cafe-description {
    flex: 1;
}

.cafe-images {
   display: flex;
    margin: 20px auto;
    padding: 20px;
    gap: 20px;
    box-sizing: border-box;
    overflow:hidden;
}

.images {
    flex: 1;
    min-width: 0;
    overflow: hidden;
}

.images img {
     border: 1.2px solid black;
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    display: block;
}

#review {
    border: 1.2px solid black;
    box-sizing: border-box;
    padding: 20px;
}

textarea {
    width: 100%;
    height: 500px;
}

.submit-review {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.star-rating {
    font-size: 25px;
}

.star:hover {
    fill: yellow;
    color: yellow;
    background-color: yellow;
}

#submit {
    width: 90px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    border-radius: 15px;
    background-color: black;
    color: white;
}